/*styles.css*/

body {
	background: hsl(47, 88%, 63%);
}

.container {
	width: 350px;
	margin: 20px auto;
	background: white;
	padding:15px;
	border-radius: 10px;
	border:1px solid hsl(0, 0%, 7%);
	box-shadow:  8px 8px 3px hsl(0, 0%, 7%);
}

img {
	width: 100%;
	border-radius:10px;
}
.image-container {
	width: 100%;
	height: auto;
}

#learning-btn{
	padding: 10px 20px;
	border:none;
	border-radius: 10px;
	background:hsl(47, 88%, 63%);
	color:black;
	font-weight: 800;
	margin:10px 0;
	cursor: pointer;
}

.date {
	margin-top: 0;
}

.heading{
	font-weight: 500;
	font-family: sans-serif;
	margin-bottom: 0;
	cursor: pointer;
}
.heading:hover {
	color:hsl(47, 88%, 63%);
	font-weight: 800;
}
.content {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.75;
	letter-spacing: 0.5px;
	color: hsl(0, 0%, 42%);
}

.avatar {
	width:50px;
	height:50px;
}

.avatar-container {
	display: flex;
	align-items: center;
	gap:20px;
}
.avatar-name {
	font-weight: 800;
}
.attribution { 
	font-size: 15px; 
	text-align: center;
}
.attribution a { color: hsl(228, 45%, 44%); }