
:root{
	--primary-color:hsl(47, 88%, 63%);
	--border-color:hsl(0, 0%, 7%);
	--content-fontcolor:hsl(0, 0%, 42%);
	--link-color:hsl(228, 45%, 44%);
	--light-bold:500;
	--bolder:800;
}

body {
	background: var(--primary-color);
}

.container {
	width: 20rem;
	margin: 50px auto 20px auto;
	background: white;
	padding:15px;
	border-radius: 10px;
	border:1px solid var(--border-color);
	box-shadow:  8px 8px 3px var(--border-color);
}

img {
	width: 100%;
	border-radius:10px;
}
.image-container {
	width: 100%;
	height: auto;
}

.learning-btn{
	padding: 10px 20px;
	border:none;
	border-radius: 10px;
	background:var(--primary-color);
	color:black;
	font-weight: var(--bolder);
	margin:10px 0;
	cursor: pointer;
}


.heading{
	font-weight: var(--light-bold);
	font-family: sans-serif;
	margin-bottom: 0;
	cursor: pointer;
}
.heading:hover {
	color:var(--primary-color);
	font-weight: var(--bolder);
}
.content {
	font-size: 16px;
	font-weight: var(--light-bold);
	line-height: 1.75;
	letter-spacing: 0.5px;
	color: content-fontcolor;
}

.avatar {
	width:50px;
	height:50px;
}

.avatar-container {
	display: flex;
	align-items: center;
	gap:20px;
}
.avatar-name {
	font-weight: var(--bolder);
}
.attribution { 
	font-size: 15px; 
	text-align: center;
}
.attribution a {
 color: var(--link-color);
}